#about_picture{
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	float: left;

}

#description{
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20;
}

@media (max-width: 420px){
#about_picture{
	width: 350px;
	height: auto;
	margin-left: 0;
}
}

form{
	text-align: center;
}

[name="feedback"]{
	width: 50%;
	height: 100px;
}

#active {
	padding: 1rem 15px;
	color: #fff;
	border-radius: 15px;
	background: #f15d22;
	border: none;
	margin-top: 30px;
}

#active:hover{
	background:#F5A133;
}

#not_active {
	padding: 1rem 15px;
	color: #fff;
	border-radius: 15px;
	background: #9D9999;
	border: none;
	margin-top: 30px;
}

img:not(#about_picture) {
  width: auto;
  height: 420px;
  max-height: 426px;
  max-width: 592px;
}